name: Build VM Disk Image

env:
  PACKER_VERSION: '1.8.4'

on:
  push:
    branches:
      - '*'
    tags:
      - 'v*'
  pull_request:
    branches:
      - master

jobs:
  build:
    name: ${{ matrix.version }}, ${{ matrix.architecture.name }}
    runs-on: ubuntu-latest
    strategy:
        matrix:
          version:
            - 9.2
            - 9.3
            - 9.4
            - '10.0'
            - '10.1'

          architecture:
            - name: x86-64
              qemu: x86
              qemu_executable: x86_64
              uname: amd64

            - name: arm64
              qemu: aarch64
              uname: aarch64

          exclude:
            - version: 9.2
              architecture:
                name: arm64
                qemu: aarch64

            - version: 9.3
              architecture:
                name: arm64
                qemu: aarch64

            - version: 9.4
              architecture:
                name: arm64
                qemu: aarch64

    steps:
      - name: Clone Repository
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install Dependencies
        run: |
          sudo apt update && \
          sudo apt install -y \
          fdisk \
          dosfstools \
          rsync \
          curl \
          python3 \
          qemu-system-${{ matrix.architecture.qemu }}

          if [ -f /usr/share/qemu-efi-aarch64/QEMU_EFI.fd ]; then
            sudo ln -s /usr/share/qemu-efi-aarch64/QEMU_EFI.fd /usr/share/qemu/edk2-aarch64-code.fd
          fi

      - name: Print QEMU version
        run: '"qemu-system-${{ matrix.architecture.qemu_executable || matrix.architecture.qemu }}" --version'

      - uses: hashicorp/setup-packer@main
        with:
          version: ${{ env.PACKER_VERSION }}

      # - name: Setup tmate session
      #   uses: mxschmitt/action-tmate@v3

      - name: Build Image
        run: |
          PACKER_LOG=1 ./build.sh \
            '${{ matrix.version }}' \
            '${{ matrix.architecture.name }}' \
            -var 'headless=true'

      - name: Start Local HTTP Server
        run: python3 -m http.server 8080 --directory output &

      - name: Create File
        run: echo 'host to guest' > host_to_guest.txt

      - name: Test Image
        uses: cross-platform-actions/action@master
        with:
          operating_system: netbsd
          architecture: ${{ matrix.architecture.name }}
          version: '${{ matrix.version }}'
          image_url: http://localhost:8080/netbsd-${{ matrix.version }}-${{ matrix.architecture.name }}.qcow2
          shutdown_vm: false
          shell: bash
          run: |
            set -x
            printf 'uname -a: '; uname -a
            printf 'uname -s: '; uname -s
            printf 'uname -r: '; uname -r
            printf 'uname -v: '; uname -v
            printf 'uname -m: '; uname -m
            printf 'uname -p: '; uname -p
            printf 'pwd: '; pwd
            printf 'echo $SHELL: '; echo $SHELL
            printf 'whoami: '; whoami
            printf 'hostname: '; hostname
            echo 'ls -lah:'; ls -lah
            echo 'env | sort:'; env | sort
            [ "`uname -s`" = 'NetBSD' ]
            [ "`uname -r`" = '${{ matrix.version }}' ]
            [ "`uname -m`" = '${{ matrix.architecture.uname || matrix.architecture.name }}' ] || [ "`uname -p`" = '${{ matrix.architecture.uname || matrix.architecture.name }}' ]
            [ "`pwd`" = '/home/runner/work/netbsd-builder/netbsd-builder' ]
            [ "`hostname`" = 'runnervmg1sw1.local' ]
            cat host_to_guest.txt | grep -q 'host to guest'
            echo 'guest to host' > guest_to_host.txt

      - name: Verify File Synchronization
        run: cat guest_to_host.txt | grep -q 'guest to host'

      - name: Extract Version
        id: version
        if: startsWith(github.ref, 'refs/tags/v')
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_OUTPUT

      - name: Create Release
        id: create_release
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          name: NetBSD ${{ steps.version.outputs.VERSION }}
          draft: true
          files: output/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
